* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    background: url(image/Bitmap.png) center 0 no-repeat;
    min-height: 550px;
    border-radius: 0 0 60px 0;
    background-size: 100% 100%;
    padding-top: 30px;
}

.header {
    /* height: 100px; */
    max-width: 1340px;
    min-width: 1200px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 25px 0;
    margin: 0 auto;
}

.nav1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.left_header {
    float: left;
}

.header-ul {
    display: inline-block;
    margin: 0 25px;
}

.header-ul a {
    margin: 0 15px;
    color: #64626A;
    position: relative;
}

.header-ul a:hover {
    cursor: pointer;
    color: #1D5E6D;
    font-weight: 600;
}

.logo {
    margin: auto;
}

.nav1>img {
    margin: 0px auto;
}

.right_header {
    margin-right: 35px;
}

.header-ul>a:hover::after {
    content: "";
    width: 50%;
    position: absolute;
    border-bottom: 1px solid #1D5E6D;
    bottom: 0;
}

.right_header button {
    background: #348193;
    border-radius: 19px;
    border-style: none;
    padding: 9px 20px;
    color: #FFFFFF;
}

.main {
    width: 100%;
    min-height: 330px;
    background: #F8F8FA;
    border-radius: 0px 0px 50px 0px;
}

.content {
    position: relative;
    max-width: 1340px;
    min-width: 1200px;
    margin: auto;
    display: inline-block;
}

.content1-left {
    position: absolute;
    max-width: 537px;
    min-height: 320px;
    border-radius: 30px;
    background: #FFFFFF;
    margin-top: -160px;
    margin-left: 20px;
    padding-left: 40px;
    padding-top: 50px;
}

.content1-left-text {
    padding-right: 80px;
}

.content1-left-text h1 {
    font-family: Poppins;
    font-size: 52px;
    line-height: 58px;
    color: #1D5E6D;
}

#content1_h1 {
    font-weight: 120;
}

.content1-left-text p {
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    color: #64626A;
    margin-top: 25px;
}

.conten1-left-button button {
    background: #00D095;
    border-radius: 25px;
    border-style: none;
    padding: 12px 30px;
    margin-top: 30px;
    color: #FFFFFF;
}

.content1-right {
    padding-left: 620px;
    margin-top: 100px;
    background: #F8F8FA;
}

.content1-right-logo {
    margin-top: 10px;
}

.content-body {
    max-width: 1200px;
    background: #F2F2F2;
    margin: auto;
}

.content2 {
    position: absolute;
}

.content2-p {
    display: inline-block;
    padding-left: 120px;
}

#left {
    height: 118px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 54px;
    color: #3B3A40;
    margin-top: 100px;
}

#right {
    width: 400px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #64626A;
}

.content3 {
    max-width: 1200px;
    position: absolute;
    padding: 260px 0 90px 88px;
}

.content3-table {
    width: 100%;
    display: table;
}

.content3-box {
    display: table-cell;
    max-width: 380px;
    min-height: 237px;
    padding-right: 100px;
}

.content3-box:hover {
    background: #FFFFFF;
}

.content3-box-img {
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #E8E7E8;
}

.content3-box-img:hover {
    background: #348193;
}

.content3-box-p1 {
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

.content3-box-p2 {
    max-width: 270px;
    padding-top: 15px;
    font-size: 16px;
}

.content4 {
    padding-top: 990px;
    margin: auto;
}

.content4-up {
    position: relative;
    z-index: 2;
}

.content4-up img {
    margin-top: -1600px;
    margin-left: 78px;
}

.content4-down {
    position: absolute;
    z-index: 1;
}

.content4-down img {
    margin-top: -174px;
    margin-left: -80px;
}

.content5 {
    margin: auto;
    padding-top: 180px;
}

.content5-text1 {
    text-align: center;
}

.content5 h5 {
    text-transform: uppercase;
    color: #B3B1B7;
    height: 23px;
    margin: 25px 0;
}

.content5 h2 {
    color: #3B3A40;
    font-size: 36px;
}

.content5 p {
    max-width: 400px;
    margin: auto;
    padding-top: 15px;
    font-size: 16px;
    color: #64626A;
    margin-bottom: 15px;
}

.content5 a {
    color: #00D095;
    text-decoration: none;
}

.content5-2 {
    margin: 50px auto;
    width: 100%;
}

.content5-2-box1 {
    display: inline-block;
    width: 49%;
}

.content5-2-box2 {
    display: inline-block;
    width: 49%;
    padding-left: 10px;
}

.box1-icon {
    float: left;
}

.box1-text h4 {
    color: #3B3A40;
    font-size: 22px;
    margin-left: 90px;
}

.box1-text p {
    max-width: 300px;
    font-size: 16px;
    color: #64626A;
    margin-left: 96px;
}

.conten6 {
    width: 100%;
    min-height: 600px;
    background: #F8F8FA;
}

.conten6-p {
    text-align: center;
}

.conten6-p p {
    color: #B3B1B7;
    font-size: 14px;
    padding-top: 150px;
}

.conten6-p h3 {
    font-size: 36px;
    color: #3B3A40;
    padding-top: 25px;
}

.content6-slide {
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
    display: inline-block;
    position: relative;
}

.slider-box1 {
    width: 43%;
    display: inline-block;
    margin: 0 50px;
    border-radius: 10px;
    background: #FFFFFF;
}

.slider-box1 img {
    margin: 10px 45px;
}

.slider-box1 h4 {
    font-size: 22px;
    color: #3B3A40;
    padding-left: 45px;
    margin-top: 10px;
}

.slider-box1 p {
    color: #64626A;
    font-size: 16px;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 20px;
    max-width: 400px;
}

.slider-box2 {
    width: 43%;
    display: inline-block;
    position: absolute;
    min-height: 300px;
}

.slider-box2-1 {
    background: #FFFFFF;
    border-radius: 10px;
    display: block;
    position: relative;
    margin-bottom: 28px;
}

.box-1-1 {
    display: inline-block;
}

.box-1-1 img {
    margin: 11px;
    width: 70%;
}

.box-1-2 {
    display: inline-block;
}

.box-1-2 {
    position: absolute;
    padding-top: 30px;
    padding-left: 15px;
}

.box-1-2 h4 {
    font-size: 22px;
    color: #3B3A40;
}

.box-1-2 p {
    padding-top: 5px;
    width: 320px;
    font-size: 16px;
    color: #64626A;
}

.banner2 img {
    max-width: 1200px;
    min-height: 700px;
}

.content7 {
    text-align: center;
    min-height: 100px;
    padding-top: 40px;
    border-bottom: 1px solid #E8E7E8;
}

.content7-p {
    display: inline-block;
    margin-left: -280px;
    margin-right: 70px;
}

.content7-p p {
    color: #3B3A40;
    font-size: 24px;
    font-family: Poppins;
}

.content7-box-seach {
    display: inline-block;
    max-width: 130px;
    height: 40px;
    position: relative;
}

.content7-box-seach input {
    width: 390px;
    height: 50px;
    border-radius: 18px;
    background: #FFFFFF;
    border: 1px solid #D1D0D6;
}

.content7-button {
    position: absolute;
    padding-left: 845px;
    margin-top: -32px;
}

.content7-button button {
    background: #00D095;
    border-radius: 24px;
    padding: 10px 25px;
    border-style: none;
    color: #FFFFFF;
}

.footer {
    max-width: 1200px;
    margin: auto;
    padding-left: 100px;
}

.footer-table {
    width: 100%;
    display: table;
    padding-top: 30px;
}

.column {
    /* width: 24%; */
    /* display: inline-block; */
    display: table-cell;
}

.row {
    margin-top: 30px;
}

.row h5 {
    color: #3B3A40;
    font-size: 14px;
}

.column-p {
    margin-top: 15px;
}

.column-p p {
    color: #64626A;
    font-size: 14px;
    padding: 5px;
}

.footer-icon {
    margin-top: 36px;
}

.column h5 {
    color: #3B3A40;
    font-size: 14px;
    padding-bottom: 30px;
}

.column img {
    padding-top: 10px;
    display: block;
}

.footer-icon h5 {
    color: #3B3A40;
    font-size: 14px;
}

.footer-icon img {
    padding-right: 20px;
    display: inline
}

@media only screen and (min-width: 992px) {}